header {background-color: #c7e26381;
        padding: 10px;
        text-align: center;
        font-family: 'Arial', sans-serif;
        color: #242121;
        border-bottom: 2px solid #ccc;
        }
        nav {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
       gap: 8rem ;
        }
        nav a :hover {
        color: #91979e;
        text-decoration: none;  
        }
    #course-title {
        font-size: 2rem;
        font-weight: bold;
    }
    main {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;  
        max-width: 900px;
        margin: auto;
        gap: 1rem;
        border-radius: 8px;
        box-shadow: 0 9px 16px rgba(0, 0, 0, 0.1);
        border: 2px solid #ccc;
         }  
         .card {
        background-color: #f8f8f8;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: #333 0px 4px 3px;
        }
         .card h2 {         font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        margin-top: 0;
        }

        footer {
        background-color: #c7e26381;
        padding: 10px;
        text-align: center;
        }